<div class="container">
    <div class="row" style="margin-top:80px;">
        <div class="col-md-12">
            <div class="card">
                <h2 class="card-header" style="text-align: center;">About Me !</h2>
                <div class="card-body">
                    <p class="card-text">
                        When I was a kid, I wasn’t sure what I wanted to do in life. I always felt that a spark, the desire to accomplish things lacked in me. I was unaware about my own potential and that’s when I heard this quote by Steve Jobs, 
                        “Everybody should learn to program a computer, because it teaches you how to think”. This is when I decided to code! I wrote my first program of “Hello World” in C when I was in the 8th grade. I was amazed 
                        to see how the computer did whatever I wanted. 
                        <br>
                        <br>This incident encouraged me to pursue my diploma in Information Technology from Shri Bhagubhai Mafatlal Polytechnic. I studied languages, algorithms, data structures, operating system, all with pretty much the same fascination that drove me as a kid. My passion for computers grew and I started taking up many free lancing projects. It was here, when I truly realized there is so much to learn! With the same enthusiasm I completed my degree from Xavier’s Institute of Engineering and received a job offer from LTI for the position of “Software Developer”.

                        <br><br>
                        I love to code. I always took up coding challenges and getting the “All test cases passed” remark makes me feel gruntled. I love applying responsive design principles and watching my web pages shrink into mobile screens and still look amazing. It's oddly satisfying. I think in a way I'm kind of like those web pages; I'm mouldable, but I still keep my creative flare intact. I believe to be a person of values. Along with the coding skills, I have a strong opinion that time management and team work are the key to success. 
                        <br><br>

                        I indulge myself in various other activities like learning about cyber security and exploration of leadership opportunities. Apart from this I am also fond of sports. Whenever I get some time off my work I try to play my favorite sport. I love travelling and talking about the future of Engineering!
                    </p>
                    <div class="text-center">
                    <a href="Home" class=" btn btn-primary">Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
<router-outlet></router-outlet>
