
<body>
    
<div class="container">
    <div class="row" style="padding-top:140px;padding-bottom:60px;">
        <div class="col-md-12">
            <div class="card">
                <h2 class="card-header" style="text-align: center;">About Me !</h2>
                <div class="card-body">
                    <p class="card-text text-justify">
                        I am a skilled and motivated Software Developer with a strong foundation in Python and .NET programming. With over 1 year of hands-on experience, I specialize in designing, implementing, and customizing software solutions to address complex business challenges. My expertise extends across a wide range of programming languages, including Java, C, C++, C#, and JavaScript, as well as familiarity with technologies such as Angular, React, and Node.js.

                        <br>
                        I hold a Master’s degree in Information Technology from Concordia University of Edmonton, where I achieved a GPA of 3.52/4.00. Additionally, I completed a Bachelor’s degree in Information Technology from Xavier Institute of Engineering, Mumbai, India, with a CGPA of 8.31/10.00. I also hold a Diploma in Information Technology from Shri Bhagubhai Mafatlal Polytechnic, Mumbai, India.
                        <br><hr>
                        Throughout my academic and professional journey, I have actively pursued continuous learning and professional development. I hold several certifications, including Microsoft Certified Dynamics 365 Sales Functional Consultant Associate and certifications in HTML, CSS, JavaScript, Python, and React from Coursera.
                        <br><hr>
                        Driven by a passion for technology and a commitment to excellence, I am eager to leverage my skills and experience to drive innovation, enhance productivity, and deliver transformative solutions for organizations.
                    </p>

                    <div class="text-center">
                    <a href="Home" class=" btn btn-primary">Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<app-footer></app-footer>
<router-outlet></router-outlet>
