
    <footer class="container-fluid bg-footer">

        <!-- Footer Elements -->
        <div class="container-fluid">
    
        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center" style="margin-top:20px;padding-top:50px">
            <li class="list-inline-item">
                <a [routerLink]="['/Home']" class="footer-link-style">
                My Portfolio
                </a>
                &nbsp;&nbsp;|
            </li>
        </ul>
        <!-- Social buttons -->
        <div class="container">
            <div class="row justify-content-center">
            <div id="social">
                <a class="facebookBtn smGlobalBtn" href="#!"></a>
                <a class="googleplusBtn smGlobalBtn" href="#!">&nbsp;</a>&nbsp;
                <a class="twitterBtn smGlobalBtn" href="#!">&nbsp;</a>
                <a class="googleplusBtn smGlobalBtn" href="#!"></a>
            </div>
            </div>
        </div>
        <!-- Footer Elements -->
        
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" style="color: white;">&copy; 2023 Bhavin Nirmal
        </div>
        <!-- Copyright -->
    </div>
    </footer>
    <!-- Footer -->

  <router-outlet></router-outlet>