.icon-size{
    font-size: xx-large;
}

.footer-link-style{
    font-size:18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 10px;
    color:white;
    transition-duration: 0.6s ;
}
.footer-link-style:hover{
    color: mediumblue;
    transition-property:all;
    font-weight: bold;
}
.pipe-style{
    font-size: xx-large;
}
.bg-footer{
    background-color: #a09b9b;
    background-image: linear-gradient(315deg, #ebe0e0 0%, #797676 74%);
}


#social {
    margin: 20px 10px;
    text-align: center;
  }
  
  .smGlobalBtn {
    /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 2px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
  }
  .facebookBtn {
    background: #4060A5;
    margin-right: 10px;
  }
  
  .facebookBtn:before {
    /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a";
    /* add facebook icon */ 
  }
  
  .facebookBtn:hover {
    color: #2196f3;
    background: #111111;
    transition-duration: 0.5s;
    transition: background-color 0.5s ease;
  }
  
  
  
  /* google plus button class*/
  
  .googleplusBtn {
    background: #e64522;
  }
  
  .googleplusBtn:before {
    font-family: "FontAwesome";
    content: "\f0d5";
    /* add googleplus icon */
  }
  
  .googleplusBtn:hover {
    color: #e64522;
    background: #111111;
    transition-duration: 0.5s;
    transition: background-color 0.5s ease;
  }

  /* Twitter Icon */

  .twitterBtn {
    background: #4060A5;
    margin-right: 10px;
  }
  
  .twitterBtn:before {
    /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f099";
    justify-content: center;
    /* add facebook icon */ 
  }
  
  .twitterBtn:hover {
    color: #2196f3;
    background: #111111;
    transition-duration: 0.5s;
    transition: background-color 0.5s ease;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
  }