<footer class="bg-dark py-5" style="margin-top:25px">
    <div class="container">
      <div class="row">
        <!-- Social Icons -->
        <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
          <h5 class="text-white mb-3">Connect with Me</h5>
          <div class="social-icons">

            <a href="https://www.instagram.com/bhavinnirmal/" target="_blank"><i class="fa fa-instagram text-danger mr-3 fa-3x"></i></a>
            <a href="https://www.facebook.com/bhavin.nirmal.5/" target="_blank"><i class="fa fa-facebook text-primary mr-3 fa-3x"></i></a>
            <a href="https://github.com/bhavinnirmal29" target="_blank"><i class="fa fa-github text-white mr-3 fa-3x"></i></a>
            <a href="https://www.linkedin.com/in/bhavinnirmal29/" target="_blank"><i class="fa fa-linkedin text-info fa-3x"></i></a>
          
            </div>
        </div>
        <!-- Copyright -->
        <div class="col-md-6 text-center text-md-right">
          <h5 class="text-white mb-3">© 2024 Bhavin Nirmal</h5>
        </div>
      </div>
    </div>
  </footer>

  <router-outlet></router-outlet>