

    <footer class="container-fluid bg-footer" style="margin-top:60px;">

        <!-- Footer Elements -->
        <div class="container-fluid">

        <!-- Social buttons -->
        <div class="container">
            <div class="row justify-content-center">
            <div id="social"> 
                <a href="https://www.instagram.com/bhavinnirmal/" target="_blank" style="text-decoration:None"><i class="fa fa-instagram" style="font-size:44px;"></i>&nbsp;&nbsp;&nbsp;&nbsp;</a>
                <a href="https://www.facebook.com/bhavin.nirmal.5/" target="_blank" style="text-decoration:None"><i class="fa fa-facebook" style="font-size:44px;"></i>&nbsp;&nbsp;&nbsp;&nbsp;</a>
                <a href="https://github.com/bhavinnirmal29" target="_blank" style="text-decoration:None"><i class="fa fa-github" style="font-size:44px;"></i>&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </div>
            </div>
        </div>
        <!-- Footer Elements -->
        
        <!-- Copyright -->
        <hr/>
        <div class="footer-copyright text-center py-3" style="color: white;">&copy; 2023 Bhavin Nirmal
        </div>
        <!-- Copyright -->
    </div>
    </footer>
    <!-- Footer -->

<router-outlet></router-outlet>