<div class="container-fluid" style="margin-top:100px;">
    <div class = "row overflow-auto">
      <div class="col-lg-6 col-md-6 col-sm-12 card-margin">
        <div class="card">
          <div class="card-img-wrap">
            <img class="card-img-top" src="/assets/images/Carya.png" alt="Card image cap">
            
          </div>
          <div class="card-body">
            <h5 class="card-title">Data and IT Projects Intern</h5>
            <p class="card-text text-black">August 2023 – December 2023</p>
            <button type="button" class="btn btn" style="background-color:black;color:white;" data-toggle="modal" data-target="#caryaModal">View Responsibilities</button>
          </div>
        </div>
      </div>
      <div class="modal fade" id="caryaModal" tabindex="-1" role="dialog" aria-labelledby="responsibilitiesModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="responsibilitiesModalLabel">Responsibilities</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Effectively managed migration from Shared Drives to Azure and Microsoft 365 environment and designed the architecture of SharePoint. Provide technical support for Power Automate Flows and custom-built applications.</li>
                <li class="list-group-item">Identifying areas and processes where Microsoft 365, Office 365, and SharePoint can be leveraged for process improvement.</li>
                <li class="list-group-item">Monitor and advise management on the technology roadmap to ensure progress to target outcomes.</li>
                <li class="list-group-item">Developing Hubs, Sites, web parts, extensions, and applications using the SharePoint Framework (SPFX).</li>
                <li class="list-group-item">Managing permissions, groups, and security settings within SharePoint and ensuring data integrity and access control.</li>
                <li class="list-group-item">Developing clean and scalable Windows Forms applications using ASP.Net and C# reducing human effort by 80%.</li>
                <li class="list-group-item">Reviewing and resolving actionable IT support requests within SharePoint and Microsoft 365 as needed.</li>
              </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 card-margin">
        <div class="card">
          <div class="card-img-wrap">
            <img class="card-img-top" src="/assets/images/CUE.jpeg" alt="Card image cap">
            
          </div>
          <div class="card-body">
            <h5 class="card-title">Research Assistant</h5>
            <p class="card-text text-black">May 2023 – September 2023</p>
            <button type="button" class="btn btn" style="background-color:black;color:white;" data-toggle="modal" data-target="#cueModal">View Responsibilities</button>
          </div>
        </div>
      </div>
      <div class="modal fade" id="cueModal" tabindex="-1" role="dialog" aria-labelledby="responsibilitiesModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="responsibilitiesModalLabel">Responsibilities</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Designing and conducting experiments to assess the effectiveness of the developed application on Blockchain.</li>
                <li class="list-group-item">Developing and maintaining software prototypes and proof-of-concept implementations of Blockchain solutions.</li>
                <li class="list-group-item">Conducting in-depth literature reviews and market analyses to identify emerging trends and opportunities in Blockchain technology.</li>
                <li class="list-group-item">Developing applications to effectively secure Machine Learning techniques using Blockchain.</li>
                <li class="list-group-item">Working on Federated Supervised learning techniques and implementing them.</li>    
              </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 card-margin">
        <div class="card">
          <div class="card-img-wrap">
            <img class="card-img-top" src="/assets/images/LTIMindtree.png" alt="Card image cap">
            
          </div>
          <div class="card-body" style="background-color: white;">
            <h5 class="card-title">Software Engineer - Cloud Services and Softwares</h5>
            <p class="card-text text-black">January 2021 – August 2022</p>
            <button type="button" class="btn btn" style="background-color:black;color:white;" data-toggle="modal" data-target="#ltiModal">View Responsibilities</button>
          </div>
        </div>
      </div>
      <div class="modal fade" id="ltiModal" tabindex="-1" role="dialog" aria-labelledby="responsibilitiesModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="responsibilitiesModalLabel">Responsibilities</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Proficient in ASP.NET MVC/ASP.NET Core, SQL Server, C#, Typescript, Angular, JavaScript and worked in the field of Microsoft Dynamics CRM (.Net Based Platform) to support the Business Process and manage the development of the CRM System.</li>
                <li class="list-group-item">Troubleshoot and resolve issues related to Power Platform, Dynamics 365 configurations, customizations, and integrations, providing technical support to end-users. Improve code quality by analyzing 40,000+ lines of code using SonarQube & CAST tool.</li>
                <li class="list-group-item">Ability to design and implement automated workflows and business processes in Dynamics 365 to streamline operations and improve productivity. Incident Response, Service Requests and Problem Ticket Management with ServiceNow.</li>
                <li class="list-group-item">Develop forms, web resources, plugins using HTML, JavaScript and C#. Provide technical support for client base of 50,000+ users.</li>
                <li class="list-group-item">Data Migration for more than 30 countries. Manage, develop and deploy new features using .Net and JavaScript on Production and Staging Environments. Deployed 30+ Dynamics 365 solutions on Dev, Test and Production Environment using Azure DevOps.</li>
                <li class="list-group-item">Effectively enhancing the code, finding bugs, and providing solutions for the same.</li>
                <li class="list-group-item">Responsible for deployment through CI/CD using Azure DevOps and Azure Data Factory shipping solutions to UAT & Production.</li>
                <li class="list-group-item">Monitoring and reporting the overall performance of the Sales CRM platform improving efficiency by 50%.</li>
                <li class="list-group-item">Configuring security roles, privileges, and access controls to protect sensitive information and ensure compliance.</li>
              </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<app-footer></app-footer>
