<div class="container" style="margin-top:100px;">
    <div class = "row overflow-auto">
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="../assets/images/LTIMindtree.png" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title">Software Engineer (January 2021 – August 2022)</h3>
                  <p class="card-text text-justify">
                    Trained in .Net Framework, Typescript, Angular. Worked in the field of Microsoft Dynamics CRM (.Net Based Platform) to support the Business Process and manage the development of the CRM System. 
                    Responsible for migrating data around different countries. Manage, develop and deploy new features using .Net and JavaScript on Production and Staging Environments. 
                    Effectively enhancing the code, finding bugs, and providing solutions for the same. Responsible for deployment through CI/CD using Azure DevOps and Azure Data Factory. Monitoring and reporting the overall performance of the Sales CRM platform. 
                  </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
          <div class="card">
              <img class="card-img-top" src="../assets/images/eg1.png" alt="Card image cap">
              <div class="card-body">
                <h3 class="card-title">Full Stack Developer (August-2017: January-2019)</h3>
                <p class="card-text">
                  Developed a web portal for enabling the customers view the services of Stock Market provided by the company 
                  using HTML, CSS, JavaScript, Materialized CSS, JQuery, PHP and MySQL. Implemented components of the website
                  and maintained the customer data, daily visits on the web pages and uploading  
                </p>      
              </div>
          </div>
      </div>
    </div>
</div>

<app-footer></app-footer>
