<div class="container" style="margin-top:100px">
  <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="card-title"  data-aos="fade-up" data-aos-duration="2000">
              
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-6 delay2"  data-aos="flip-left" data-aos-duration="2000">
                <div class="card">
                <img class="card-img-top" src="../assets/images/ProfileImage.jpeg" alt="Card image">
              </div>
              </div>
              <div class="col-sm-12 col-md-6 delay1" data-aos="fade-right" data-aos-duration="2000">
                <span class="align-middle">
                <p class="font-weight-bold">NAME: BHAVIN NIRMAL</p>
                <p class="font-weight-bold">EMAIL: bhavinnirmal29@gmail.com</p>
                <p class="font-weight-bold">Calgary, Alberta, Canada</p>
                <p class="font-weight-bold">EDUCATION(PRESENT): Masters of IT (IT)</p>
                <p class="myInfo">
                  Certified Microsoft Dynamics 365 Sales Functional Consultant Associate. Highly skilled and results-driven Dynamics 365 professional with 2 years of experience in designing, implementing, and customizing Microsoft Dynamics 365 solutions. I have a solid understanding of software development principles and a strong proficiency in multiple programming languages such as Java, C++, Python and C#. Seeking opportunities to leverage my expertise in Software Development to drive innovation, enhance productivity, and deliver transformative solutions for organizations.
                </span>
              </div>
            </div>	  						
          </div>
        </div>
      </div>
  </div>

  
  <!-- 3 Columns  -->
    <div class="row">
      <div class="col-md-12">
          <div class="card" style="margin-top:40px;">
            <div class="card-body">
              <div class="card-title nav-header" data-aos="fade-right" data-aos-duration="1500">
                <div class="center">
                  <p class="font-weight-bold"></p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-4 justify-content-center" data-aos="fade-right" data-aos-duration="3000">
                  <div class="text-center">
                    <i class="fa fa-database" style="font-size:150px;color:red;"></i>
                    <h3 class="margin-adjust">Website Development</h3>
                    <p class="common-font">Want to earn through Internet Marketing, then this can be a solution to increase your market. I develop responsive Websites Using Materialize Css, Bootstrap, HTML , CSS ,Javascript, Mysql Databases, PHP. I write clean code and develop user friendly website which makes it easy for people to use and can be accessed easily.<!-- I am enthusiastic in Website Development as it is one of my favourite domain and design dynamic and responsive websites.--></p>
                  </div>
                </div>
                <div class="col-sm-12 col-md-4 justify-content-center" data-aos="fade-up" data-aos-duration="3000">
                  <div class="text-center">
                    <i class="fa fa-android" style="font-size:156px;color:green;"></i>
                    <h3 class="margin-adjust">Application Development</h3>
                    <p class="common-font">User-Friendly applications using Android Studio and Mysql Database. I help with database design of the entire Application. I develop dynamic softwares and user friendly which can be useful in all operating environments. </p>
                  </div>
                </div>
                <div class="col-sm-12 col-md-4" data-aos="fade-left" data-aos-duration="3000">
                 <div class="text-center">
                    <i class="fa fa-database" style="font-size:156px;color:blue;"></i>
                    <h3 class="margin-adjust">Software Development</h3>
                    <p class="common-font">Developing Softwares as Projects which includes technologies like Python, Java and MySQL Database.I use Graphical User Interface options available wth different technology to develop softwares that are useful for a company or organization. I design dynamic applications to serve the best service to my clients.</p>
                 </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>
<router-outlet></router-outlet>