<!-- your-component.component.html -->

<div class="container" style="margin-top: 100px;">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card border-10 shadow-lg rounded-lg" style="background-color: #f8f9fa;padding:20px">
          <div class="row no-gutters">
            <div class="col-sm-4 col-md-4 col-lg-2">
              <img src="assets/images/ProfileImage.jpeg" class="card-img rounded-circle mt-3 ml-3" alt="Profile Image" style="width: 180px; height: 180px;">
            </div>
            <div class="col-sm-8 col-md-8 col-lg-10">
              <div class="card-body">
                <h5 class="card-title font-weight-bold text-center">BHAVIN NIRMAL</h5>
                <p class="card-text text-center">Calgary, Alberta, Canada</p>
                <p class="card-text text-center">Masters of IT (IT)</p>
                <p class="card-text text-justify my-4">Certified Microsoft Dynamics 365 Sales Functional Consultant Associate. Highly skilled and results-driven Dynamics 365 professional with 2 years of experience in designing, implementing, and customizing Microsoft Dynamics 365 solutions. I have a solid understanding of software development principles and a strong proficiency in multiple programming languages such as Java, C++, Python and C#. Seeking opportunities to leverage my expertise in Software Development to drive innovation, enhance productivity, and deliver transformative solutions for organizations.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  


  
  <!-- 3 Columns  -->
    <div class="row">
      <div class="col-md-12">
          <div class="card bg-light" style="margin-top:40px;">
            <div class="card-body">
              <div class="card-title nav-header" data-aos="fade-right" data-aos-duration="1500">
                <div class="center">
                  <p class="font-weight-bold"></p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-4 justify-content-center" data-aos="fade-right" data-aos-duration="3000">
                  <div class="text-center">
                    <i class="fa fa-database" style="font-size:100px;color:red;"></i>
                    <h3 class="margin-adjust">Website Development</h3>
                    <p class="common-font text-justify">Want to earn through Internet Marketing, then this can be a solution to increase your market. I develop responsive Websites Using Materialize Css, Bootstrap, HTML , CSS ,Javascript, Mysql Databases, PHP. I write clean code and develop user friendly website which makes it easy for people to use and can be accessed easily.<!-- I am enthusiastic in Website Development as it is one of my favourite domain and design dynamic and responsive websites.--></p>
                  </div>
                </div>
                <div class="col-sm-12 col-md-4 justify-content-center" data-aos="fade-up" data-aos-duration="3000">
                  <div class="text-center">
                    <i class="fa fa-android" style="font-size:100px;color:green;"></i>
                    <h3 class="margin-adjust">Application Development</h3>
                    <p class="common-font text-justify">User-Friendly applications using Android Studio and Mysql Database. I help with database design of the entire Application. I develop dynamic softwares and user friendly which can be useful in all operating environments. </p>
                  </div>
                </div>
                <div class="col-sm-12 col-md-4" data-aos="fade-left" data-aos-duration="3000">
                 <div class="text-center">
                    <i class="fa fa-database" style="font-size:100px;color:blue;"></i>
                    <h3 class="margin-adjust">Software Development</h3>
                    <p class="common-font text-justify">Developing Softwares as Projects which includes technologies like Python, Java and MySQL Database.I use Graphical User Interface options available wth different technology to develop softwares that are useful for a company or organization. I design dynamic applications to serve the best service to my clients.</p>
                 </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

<app-footer></app-footer>