<!-- your-component.component.html -->

<div class="container" style="margin-top: 100px;">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card border-10 shadow-lg rounded-lg" style="background-color: #f8f9fa;padding:20px">
          <div class="row no-gutters">
            <div class="col-sm-4 col-md-4 col-lg-2">
              <img src="assets/images/ProfileImage.jpeg" class="card-img rounded-circle mt-3 ml-3" alt="Profile Image" style="width: 180px; height: 180px;">
            </div>
            <div class="col-sm-8 col-md-8 col-lg-10">
              <div class="card-body">
                <h5 class="card-title font-weight-bold text-center">BHAVIN NIRMAL</h5>
                <p class="card-text text-center">Calgary, Alberta, Canada</p>
                <p class="card-text text-center">Masters of IT (IT)</p>
                <p class="card-text text-justify my-4">Certified Microsoft Dynamics 365 Sales Functional Consultant Associate. Highly skilled and results-driven Dynamics 365 professional with 2 years of experience in designing, implementing, and customizing Microsoft Dynamics 365 solutions. I have a solid understanding of software development principles and a strong proficiency in multiple programming languages such as Java, C++, Python and C#. Seeking opportunities to leverage my expertise in Software Development to drive innovation, enhance productivity, and deliver transformative solutions for organizations.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  

    <div class="row" style="padding-top:20px;padding-bottom:20px;">
      <div class="col-md-12">
          <div class="card">
              <h2 class="card-header" style="text-align: center;">About Me !</h2>
              <div class="card-body">
                  <p class="card-text text-justify">
                      I am a skilled and motivated Software Developer with a strong foundation in Python and .NET programming. With over 1 year of hands-on experience, I specialize in designing, implementing, and customizing software solutions to address complex business challenges. My expertise extends across a wide range of programming languages, including Java, C, C++, C#, and JavaScript, as well as familiarity with technologies such as Angular, React, and Node.js.

                      <br><hr>
                      I hold a Master’s degree in Information Technology from Concordia University of Edmonton, where I achieved a GPA of 3.52/4.00. Additionally, I completed a Bachelor’s degree in Information Technology from Xavier Institute of Engineering, Mumbai, India, with a CGPA of 8.31/10.00. I also hold a Diploma in Information Technology from Shri Bhagubhai Mafatlal Polytechnic, Mumbai, India.
                      <br><hr>
                      Throughout my academic and professional journey, I have actively pursued continuous learning and professional development. I hold several certifications, including Microsoft Certified Dynamics 365 Sales Functional Consultant Associate and certifications in HTML, CSS, JavaScript, Python, and React from Coursera.
                      Driven by a passion for technology and a commitment to excellence, I am eager to leverage my skills and experience to drive innovation, enhance productivity, and deliver transformative solutions for organizations.
                  </p>
              </div>
          </div>
      </div>
  </div>

  </div>

<app-footer></app-footer>