
<nav class="navbar navbar-expand-lg justify-content-end navbar-light bg-light fixed-top">
  <div class="container">
  <a class="navbar-brand logo-size" href="#" style="padding-left: 20px">Bhavin Nirmal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link nav-link-style" href="#"><span><i class="fa fa-home" aria-hidden="true"></i></span>&nbsp;Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link nav-link-style" href="About"><span><i class="fa fa-user-circle" aria-hidden="true"></i></span>&nbsp;About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-style" href="Qualifications"><span><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>&nbsp;Qualifications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-style" href="Projects"><span><i class="fa fa-briefcase" aria-hidden="true"></i></span>&nbsp;Projects</a>
        </li>
      <li class="nav-item">
        <a class="nav-link nav-link-style" href="WorkExperience"><span><i class="fa fa-briefcase" aria-hidden="true"></i></span>&nbsp;Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-style" href="Contact"><span><i class="fa fa-user-plus" aria-hidden="true"></i></span>&nbsp;Contact</a>
      </li> 
    </ul>
  </div>
</div>
</nav>

<router-outlet></router-outlet>