<div class="container" style="margin-top:100px;">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron jumbotron-fluid bg-dark text-white">
            <div class="container">
              <h1 class="display-4 text-center">Qualifications</h1>
            </div>
          </div>
        <div class="card card-margin">
          <div class="card-body">
            <h5 class="card-title">Master’s in Information Technology</h5>
            <p class="card-text">Concordia University of Edmonton, Edmonton, Canada</p>
            <p class="card-text"><strong>Duration:</strong> Aug 2022 – Dec 2023</p>
            <p class="card-text"><strong>GPA:</strong> 3.52/4.00</p>
          </div>
        </div>
        <div class="card card-margin">
          <div class="card-body">
            <h5 class="card-title">Bachelor’s in Information Technology</h5>
            <p class="card-text">Xavier Institute of Engineering, Mumbai, India</p>
            <p class="card-text"><strong>Duration:</strong> Aug 2017 – Oct 2020</p>
            <p class="card-text"><strong>CGPA:</strong> 8.31/10.00</p>
          </div>
        </div>
        <div class="card card-margin">
          <div class="card-body">
            <h5 class="card-title">Diploma in Information Technology</h5>
            <p class="card-text">Shri Bhagubhai Mafatlal Polytechnic, Mumbai, India</p>
            <p class="card-text"><strong>Duration:</strong> Aug 2014 – Jun 2017</p>
            <p class="card-text"><strong>Percentage:</strong> 78.20/100</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <app-footer></app-footer>
