<div class="container-fluid" style="padding-top:100px;">
    <div class="card bg-dark text-white rounded shadow-lg hover-effect">
        <div class="card-body">
          <h1 class="display-7 text-center">Programming Skills</h1>
        </div>
      </div>
  <div class="row">
    <ng-container *ngFor="let skill of prog_skills; let last = last">
      <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class="card rounded mb-2">
          <div class="card-body gradient-bg">
            <i class="{{ skill.icon }}" style="font-size: 80px;"></i>
            <br/>
            <span>{{ skill.name }}</span>
          </div>
        </div>
      </div>
      <!-- Add ngIf condition to exit loop after the last iteration -->
      <div *ngIf="last"></div>
    </ng-container>
  </div>

  <div class="card bg-dark text-white rounded shadow-lg hover-effect">
    <div class="card-body">
      <h1 class="display-7 text-center" style="animation: moveText 5s infinite alternate;">Frameworks</h1>
    </div>
  </div>
<div class="row">
<ng-container *ngFor="let fw of frameworks; let last = last">
  <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="card rounded mb-3">
      <div class="card-body gradient-bg">
        <i class="{{ fw.icon }}" style="font-size: 80px;"></i>
        <br>
        <span>{{fw.name}}</span>
      </div>
    </div>
  </div>
  <!-- Add ngIf condition to exit loop after the last iteration -->
  <div *ngIf="last"></div>
</ng-container>
</div>

<div class="card bg-dark text-white rounded shadow-lg hover-effect">
    <div class="card-body">
      <h1 class="display-7 text-center">Databases</h1>
    </div>
  </div>
<div class="row">
<ng-container *ngFor="let db of database; let last = last">
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="card rounded mb-3">
      <div class="card-body gradient-bg">
        <i class="{{ db.icon }}" style="font-size: 80px;"></i>
        <br><span>{{db.name}}</span>
      </div>
    </div>
  </div>
  <!-- Add ngIf condition to exit loop after the last iteration -->
  <div *ngIf="last"></div>
</ng-container>
</div>

<div class="card bg-dark text-white rounded shadow-lg hover-effect">
    <div class="card-body">
      <h1 class="display-7 text-center">Microsoft & Other Skills</h1>
    </div>
  </div>
<div class="row">
<ng-container *ngFor="let skill of tech_skills; let last = last">
  <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="card rounded mb-2">
      <div class="card-body gradient-bg">
        <i class="{{ skill.icon }}" style="font-size: 50px;"></i>
        <br/>
        <span>{{ skill.name }}</span>
      </div>
      
    </div>
  </div>
  <!-- Add ngIf condition to exit loop after the last iteration -->
  <div *ngIf="last"></div>
</ng-container>
<ng-container *ngFor="let skill of other_Skills; let last = last">
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
      <div class="card rounded mb-2">
        <div class="card-body gradient-bg">
            <img width="48" height="48" src="{{skill.icon}}" alt="{{skill.alt}}"/>
          <br/>
          <span>{{ skill.name }}</span>
        </div>
        
      </div>
    </div>
    <!-- Add ngIf condition to exit loop after the last iteration -->
    <div *ngIf="last"></div>
  </ng-container>

</div>
</div>
<app-footer></app-footer>

